.Footer{
    position: fixed;
    bottom:0;
    height: 65px;
    width: 100%;
    padding: 20px;
    background: #3e3f41fa;
    color: #e9e9f1;
    justify-content: space-between;
    display: flex
}