.Body{
    display: flex;
}
.SideBar{
    border: none;
    height: 100vh;
    flex: 0.2;
    background: black;
}
.SbLogo{
    height: 80px;
    
}
.BodyDiv{
    border: none;
    height: 100vh;
    flex: 0.8;
    background: linear-gradient(to bottom, #51d1586b,#0e8b2daf,#073f1be0,#0a0a0aea);
    color: rgb(243, 245, 235);
}

