.Body{
    display: flex;
}
.SideBar{
    border: none;
    height: 100vh;
    flex: 0.2;
    background: linear-gradient(to bottom, #9abef3,#0342b8);
}
.SbLogo{
    height: 80px;
    
}
.BodyDiv{
    border: none;
    height: 100vh;
    flex: 0.8;
    background: linear-gradient(to bottom, #bfeeee,#0e7c8bfd,#1a64c5e0,#260649);
    color: #21224d;;
}

